.panel-body{
  text-align: center;

}
.panel-heading{
  color:black;
}
th{
  align-content: center;
}
.main {
  margin: 100px auto 0 auto;
}
.alert-red {
  color: red;
  font-weight: 400;
}
input[type="button"],input[type="submit"] {
  width: 30% !important;
}
